# Django Settings
SECRET_KEY=django-insecure-sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=safetodo
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

# Meilisearch
MEILI_HOST=http://meili:7700
MEILI_API_KEY=dev-master-key
MEILI_USERS_INDEX=users
MEILI_TASKS_INDEX=tasks
MEILI_TEAMS_INDEX=teams
MEILI_AUDITLOGS_INDEX=auditlogs
